--allman false
--binarygrouping 4,8
--closingparen balanced
--commas always
--conflictmarkers reject
--decimalgrouping none
--elseposition same-line
--empty void
--exponentcase lowercase
--exponentgrouping disabled
--fractiongrouping disabled
--fragment false
--header ignore
--hexgrouping none
--hexliteralcase lowercase
--ifdef outdent
--importgrouping alphabetized
--indent 4
--indentcase false
--linebreaks lf
--maxwidth none
--nospaceoperators 
--octalgrouping none
--operatorfunc no-space
--patternlet inline
--self init-only
--selfrequired 
--semicolons inline
--stripunusedargs closure-only
--swiftversion 5.1.3
--tabwidth unspecified
--trailingclosures 
--trimwhitespace always
--wraparguments preserve
--wrapcollections before-first
--wrapparameters preserve
--xcodeindentation disabled
